body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #3e191b;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #251447;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(113, 22, 182, 0.1);
  width: 320px;
  scale: 1.5;
}

.display {
  font-size: 2.5rem;
  margin: 20px 0;
  letter-spacing: 1px;
}

.buttons button {
  background-color: #4d1e6e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #6a0dad;
}

.laps {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
  text-align: left;
}

.laps li {
  background: #333;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
  font-family: monospace;
}
